body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #fff;
}

#cabecalho .nav .nav-link.active{
    background-color: #03658C;
    color: #fff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #03658C;
}

.navbar-toggler{
    background-color: #ffeae6;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #03658C;
}

.section-title{
    font-family: 'Pacifico', cursive;
    color: #000;
}

#sobre-o-restaurante, #cardapio{
    background-color: #f1fafd;
}

.text-colored{
    color: #03658C;
}

.text-black{
    color: #000;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #03658C;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #03658C;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
}
footer span{
    font-family: 'Pacifico', cursive;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img{
        height: 280px;
    }
}
